.clients {
  line-height: 1.17;
  padding-bottom: 60px;
  margin: auto;
  .container {
    text-align: center;
  }

  &__title {
    font-family: $main-font;
    font-weight: 700;
    font-size: 28px;
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    gap: 30px;
    padding-top: 30px;
  }

  &__item {
    border: 1px solid #afb1b8;
    border-radius: 4px;
    display: flex;
    width: 210px;
    height: 92px;
    justify-content: center;
    align-items: center;
    fill: $icon-color;

    &:hover {
      fill: $main-link-color;
      border-color: $main-link-color;
      cursor: pointer;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

@media screen and (min-width: 768px) {
  .clients {
    &__title {
      font-size: 36px;
    }

    &__list {
      flex-wrap: wrap;
      gap: 30px;
      padding-top: 50px;
    }

    &__item {
      width: 226px;
      height: 92px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    max-width: 1600px;

    &__title {
      font-family: $main-font;
      font-weight: 700;
      font-size: 36px;
    }

    &__list {
      flex-wrap: nowrap;
    }

    &__item {
      width: 170px;
      height: 92px;
    }
  }
}
