.skills {
  justify-content: center;
  text-align: left;
  &__list {
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }

  &__item {
    &:last-of-type {
      padding-bottom: 60px;
    }
  }

  &__name {
    color: $main-normal-text-color;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  &__description {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 3%;
    color: $main-text-color;
  }

  &__icon {
    height: 120px;
    background: #f5f4fa;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 30px;
    padding-top: 25px;
  }
}

@media screen and (min-width: 768px) {
  .skills {
    &__list {
      text-align: left;
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__item {
      max-width: 354px;
    }

    &__icon {
      width: 354px;
      text-align: center;
    }

    &__description {
      width: 354px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .skills {
    &__list {
      flex-wrap: nowrap;
      padding-left: 215px;
      padding-right: 215px;
    }

    &__item {
      max-width: 270px;
      &:last-of-type {
        padding-bottom: 0px;
      }
    }

    &__icon {
      width: 270px;
    }

    &__description {
      width: 270px;
    }
  }
}
