$main-font: "Roboto", sans-serif;
$primary-font: "Raleway", sans-serif;
$main-normal-text-color: #212121;
$main-text-color: #757575;
$main-link-color: #2196f3;
$logo-color: white;
$icon-color: #afb1b8;
